#all {
  background: url(../image/fon.jpg) no-repeat center top / cover;
  height: 742px;
  font: 16px/1.4 "MontserratBold", Arial, Tahoma, sans-serif;
}

#main {
  width: 940px;
  margin: 0 auto;
}

#logo h1{
  font-family: "Wisdom Script";
  font-size: 26px;
  padding-top: 49px;
}

#logo a {
  color: #fed136;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#nav {
  float: right;
  margin-top: -22px;
}

#nav a {
  font-family: 'Montserrat', sans-serif;
  float: left;
  margin-left: 39px;
  color: #ffffff;
  text-transform: uppercase;
}


#maintext {
  text-align: center;
  margin-top: 205px;
  transition: transform 1s cubic-bezier(.42,-0.48,.55,1.49) 1s;
  transform: scale(1.1);
}

#maintext h1 {
  font-family: "DroidSerifItalic";
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 50px;
}

#maintext p {
  text-transform: uppercase;
  font-size: 75px;
  color: #ffffff;
}

#button {
  margin: 30px 340px 132px;
  border: 2px solid #fed136;
  background-color: #fed136;
  padding: 25px 0 25px 0;
  border-radius: 8px;
  transform: scaleX(1);
  transition: .2s linear;
}

#button:hover {
  transform: scale(1.1);
}

#button:active {
  transform: scale(1);
  transition: scale .1s linear;
}

#button a {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

#services {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

#servicestext {
  text-align: center;
  padding-top: 120px;
}

#servicestext h1{
  font-size: 40px;
  text-transform: uppercase;
}

}

#servicestext p{
  font-family: "DroidSerifItalic";
  color: #777777;
}

.box {
  width: 290px;
  float: left;
  text-align: center;
  margin-top: 79px;
  padding-right: 35px;
}

.boxtext h1{
  font-size: 18px;
  margin-top: 25px;
}

.boxtext p {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777
}

#box {
  padding-right: 0px;
}

#portfolio {
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  margin-top: 120px;
  overflow: hidden;
}

#portfoliotext {
  width: 940px;
  margin: 0 auto;
  padding-top: 120px;
}

.portfolioheder {
    text-align: center;
}

.portfolioheder h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.portfolioheder p {
  font-family: "DroidSerifItalic";
  color: #777777;
}

.portfoliobox {
  float: left;
  padding-right: 22px;
  text-align: center;
  margin-top: 80px;
}

#portfoliobox {
  padding-right: 0;
  margin-bottom: 120px;
  overflow: hidden;
}

.portfoliobot {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-top: -5px;
  padding: 28px 0 29px 0;
}

.portfoliobot h1 {
  font-size: 18px;
  color: #333333;
}

.portfoliobot p {
  font-family: "DroidSerifItalic";
  font-size: 14px;
  color: #777777;
}

.portfoliobot a:hover {
  color: #333333;
}

#about {
  width: 940px;
  margin: 0 auto;
}

#aboutheader {
  text-align: center;
}

#aboutheader h1 {
  text-transform: uppercase;
  margin-top: 120px;
  font-size: 40px;
}

#aboutheader p{
  font-family: "DroidSerifItalic";
  font-size: 16px;
  color: #777777;
}

#aboutbox {
  margin-top: 81px;
}

.boxtextleft {
  width: 283px;
  text-align: right;
  margin-left: 65px;
}

.boxtextleft h1 {
  font-size: 18px
}

.boxtextleft p {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777
}

.t1 {
  padding-left: 43px;
}

.boxleft {
  float: right;
  margin-right: 380px;
}

.boxtextright {
  width: 283px;
  float:right;
  margin-right: 60px;
  margin-top: 50px;
}

.boxtextright h1 {
  font-size: 18px
}

.boxtextright p {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777;
}

.boxright {
  margin-left: 380px;
  padding-top: 50px;
}

.button {
  margin: 81px 371px 132px;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  padding: 40px 50px 40px 50px;
  border-radius: 100%;
  text-align: center;
  transform: scale(1);
  transition: transform .2s linear;
}

.button:hover {
  transform: scale(1.2);
}

.button:active {
  transform: scale(1);
  transition: scale .1s linear;
}

.button a {
  color: #ffffff;
  font-size: 18px;
}

.button a:hover {
  color: #ffffff;
}

#team {
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  overflow: hidden;
}

#amazing {
  width: 940px;
  margin: 0 auto;
}

#amazingtext{
  text-align: center;
}

#amazingtext h1{
  text-transform: uppercase;
  margin-top: 120px;
  font-size: 40px;
}

#amazingtext p{
  font-family: "DroidSerifItalic";
  font-size: 16px;
  color: #777777;
}

.amazingpip {
  width: 200px;
  height: 200px;
  background: #000000;
  border-radius: 50%;
}

.amazing24 {
  float: left;
  text-align: center;
  margin-right: 60px;
  margin-top: 80px;
}

#amazing24{
  margin-left: 110px;
}

#amazing25{
  margin-right: 0;
}

.amazingname {
  margin-top: 30px;
}

.amazingname p {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777;
}

.social {
  margin-top: 10px;
}

.social a img {
  transform: scale(1);
  transition: transform .2s linear;
}

.social a img:hover {
  transform: scale(1.2);
}

.social a img:active {
  transform: scale(1);
  transition: scale 0.1s linear;
}

.tex {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 60px 0 120px;
}

.tex p {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777;
  padding: 0 180px 0 180px;
}

#sponsor {
  width: 940px;
  margin: 0 auto;
}

#logosposor {
  margin: 60px 0 60px 0;
  text-align: center;
}

#logosposor a {
  padding-right: 40px;
}

#logosposor a img {
transform: scale(1);
transition: transform .2s linear;
}

#logosposor a img:hover {
  transform: scale(1.2);
}

#logosposor a img:active {
  transform: scale(1);
  transition: scale 0.1s linear;
}

#contact {
  background: url(../image/map.jpg) no-repeat center top / cover;
  height: 675px;
  overflow: hidden;
}

#contactus {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

#contactus h1 {
  margin-top: 120px;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

#contactus p {
  font-family: "DroidSerifItalic";
  font-size: 16px;
  color: #505050;
}

#forma {
  width: 940px;
  margin: 0 auto;
}

.textarea {
  float: right;
  display: block;
  overflow: hidden;
}

.row {
  margin-top: 80px;
}

input[type="text"] {
  width: 420px;
  height: 50px;
  margin-bottom: 27px;
  padding-left: 20px;
}

input[type="text"], textarea {
  font: 14px "MontserratBold";
  color: #bbbbbb;
  border: 1px solid #222222;
  border-radius: 5px;
  display: flex;
}

textarea {
  padding: 15px 0 0 20px;
}

#formabutton24 {
  width: 940px;
  margin: 0 auto;
}

#formabutton {
  margin: 30px 340px 0px;
  border: 2px solid #fed136;
  background-color: #fed136;
  padding: 25px 0 25px 0;
  border-radius: 8px;
  transform: scale(1);
  transition: .2s linear;
}

#formabutton:hover {
  transform: scale(1.1);
}

#formabutton:active {
  transform: scale(1);
  transition: scale .1s linear;
}

#formabutton a {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

#footer {
  width: 940px;
  margin: 0 auto;
}

#socialfooter {
  float: right;
  margin-right: 380px;
  margin-bottom: 30px;
}

#footertext {
  font-family: "Montserrat";
  font-size: 14px;
  color: #555555;
  margin-top: 40px;
  padding-top: 12px;
}

#socialfooter a img {
  transform: scale(1);
  transition: transform .2s linear;
}

#socialfooter a img:hover{
  transform: scale(1.2);
}

#socialfooter a img:active {
  transform: scale(1);
  transition: scale .1s linear;
}
