#all {
  background: url(../image/fon.jpg) no-repeat center top / cover;
  height: 742px;
  font: 16px/1.4 "MontserratBold", Arial, Tahoma, sans-serif;
}

#main {
  width: 940px;
  margin: 0 auto;
}

#logo h1{
  font-family: "Wisdom Script";
  font-size: 26px;
  padding-top: 49px;
}

#logo a {
  color: #fed136;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#nav {
  float: right;
  margin-top: -16px;
}

#nav a {
  font-family: 'Montserrat', sans-serif;
  float: left;
  margin-left: 39px;
  color: #ffffff;
  text-transform: uppercase;
}


#maintext {
  text-align: center;
  margin-top: 205px;
}

#maintext h1 {
  font-family: "DroidSerifItalic";
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 50px;
}

#maintext p {
  text-transform: uppercase;
  font-size: 75px;
  color: #ffffff;
}

#button {
  margin: 30px 340px 132px;
  border: 2px solid #fed136;
  background-color: #fed136;
  padding: 25px 0 25px 0;
  border-radius: 8px;
}

#button a {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

#services {
  width: 940px;
  margin: 0 auto;
}

#servicestext {
  text-align: center;
  padding-top: 120px;
}

#servicestext h1{
  font-size: 40px;
  text-transform: uppercase;
}

#servicestext p{
  font-family: "DroidSerifItalic";
  color: #777777;
}

.box {
  width: 290px;
  float: left;
  text-align: center;
  margin-top: 79px;
  padding-right: 35px;
}

.boxtext h1{
  font-size: 18px;
  margin-top: 25px;
}

.boxtext p {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777
}

#box {
  padding-right: 0px;
}
