@font-face {
    font-family: 'Droid Serif';
    src: url('DroidSerif-Italic.eot');
    src: url('DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('DroidSerif-Italic.woff2') format('woff2'),
        url('DroidSerif-Italic.woff') format('woff'),
        url('DroidSerif-Italic.ttf') format('truetype'),
        url('DroidSerif-Italic.svg#DroidSerif-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

